.home-container {
    width: 62%;
    margin: 0 auto;
}
.banner {
    margin: 10px 0 20px 0;
}
.banner img {
    width: 100%;
}
.featured-products, .game-console, .game-disc,
.game-card, .switch, .accessory, .hard-drive {
    margin: 10px 0 20px 0;
    background-color: #fff;
}
.title {
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    border-bottom: #f0f0f0 solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title h2 {
    font-weight: 400;
}
.title .see-all a {
    color: #004f8f;
}
.title .see-all a:hover {
    color: #004f8f;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-gap: 20px; */
}
.product-item {
    background-color: #fff;
    padding: 5px 10px 15px 10px;
    cursor: pointer;
}
.product-item img {
    max-width: 100%;
    height: auto;
}
.product-item h3 {
    font-size: 16px;
    color: black;
}
.product-item h3:hover {
    color: #004f8f;
}
.product-item .price {
    font-size: 18px;
    font-weight: bold;
    color: #FF0000;
    margin-top: 5px;
}
.product-item .sold {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}