.list-container {
    width: 61%;
    margin: 10px auto;
}
.breadcrumbs {
    padding-top: 5px;
}
.breadcrumbs ul {
    list-style: none;
}
.breadcrumbs ul li {
    display: inline-block;
}
.breadcrumbs ul li a {
    /* padding: 11px 0; */
    margin-bottom: 10px;
    display: inline-block;
}
.breadcrumbs ul .item-after a::after {
    content: ">";
    margin: 0 5px;
}
.breadcrumbs ul .item-last-child a:last-child {
    content: "";
    margin: 0;
}
.list-products {
    height: 680px;
}
.list-products .product-grid {
    border-left: 1px solid #a3a3a3;
    border-top: 1px solid #a3a3a3;
}
.list-products .product-grid .product-item {
    border-bottom: 1px solid #a3a3a3;
    border-right: 1px solid #a3a3a3;
}